/* App.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Bi-shīl ayya scroll horizontal */
}

#root {
  width: 100%;
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Important: use 100% not 100vh */
}

/* 2. THE MAIN CONTENT (THE HERO) */
main {
  flex: 1 0 auto; /* Force it to push the footer down */
  display: flex;
  flex-direction: column;
}

/* 3. THE FOOTER */
footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
  width: 100%;
  background-color: #FFC20E !important;
}
body {
  background-color: #1a1a1a !important; /* Aw ayya lon ghāmi2 y-mish ma3 el-burger image */
  margin: 0;
  padding: 0;
}